.container {
    padding: 49px 188px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 60%;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.19%;
    color: var(--black);
}

.right {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: flex-start;
    
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 136.19%;
    color: var(--black);
}   

.contact svg {
    margin-right: 10px;
}

.contact:not(:last-child) {
    margin-bottom: 25px;
}

@media (max-width: 992px) {
    .container {
        flex-direction: column-reverse;
    }

    .right {
        margin-bottom: 34px;
    }

    .left {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 48px 35px;
    }
}