.container {
    display: flex;
    flex-direction: column;
}


.btn {
    align-self: center;
    padding: 8px 16px;
    border: 1px solid var(--black);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.19%;
    color: var(--black);
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}



.btn:active {
    background-color: var(--violet);
    color: var(--white);

}

.btn svg {
    margin-left: 6px;
}