.header {
    padding: 32px 80px 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--violet);
}

.top {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 8px 16px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.19%;
    color: var(--light-grey);
    cursor: pointer;
    background-color: transparent;
}


.btn svg {
    display: none;
}

.img {
    display: block;
    margin-right: 32px;
    width: 187px;
    height: 187px;
    border-radius: 100%;
   
}

.bottom {
    display: flex;
    padding: 0 108px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 29px 0;
}

.name {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: var(--white);
}

.whois {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: var(--white);
}

@media (max-width: 768px) {
   .bottom {
    padding: 0 35px;
   }

    .name {
        font-size: 36px;
        line-height: 42px;
    }

    .whois {
        max-width: 100%;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 512px) {
    .header {
        padding: 32px 35px 64px;
        align-items: center;
        width: 100%;
    }
    .top {
        width: 100%;
    }

    .img {
        margin: 0;
    }

    .bottom {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .btn {
        padding: 0;
        border: none;
        font-size: 0;
        line-height: 0;
    }

    .btn svg {
        display: block;
    }

    .whois {
        align-self: center;
    } 
}