.container {
    padding: 48px 80px 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btn {
    padding: 8px 16px;
    border: 1px solid var(--black);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.19%;
    color: var(--black);
    cursor: pointer;
    outline: none;
}

@media (max-width: 480px) {
    .container {
        padding: 48px 35px;
    }
}